<h1>collaborative development!</h1>
<h2>Hello world</hs>
<p>
  The time is now : <%= Time.now %>
 </p>
 <ul>
	 <li>Location : Tokyo</li>
	 <li>About :  Hello</li>
 </u;>

<h1><%= `user[:name] %></h1>
<p><%= `user[:username] %></p>
<ul>
	<li>Location : <%= `user[:location] %></li>
	<li>About   :  <%= @user[:about] %></li>
</li>

